# ignore __pycache__ and common binary files
**/__pycache__
**/*.o
**/*.so
# ignore VS Code local settings folder
.vscode
# ignore build directories
**/build
**/build_windows
# ignore CMake testing directories
**/Testing
